[submodule "dependencies/asn1-decode"]
	path = dependencies/asn1-decode
	url = ../../JonahGroendal/asn1-decode.git
[submodule "dependencies/SmartMeterSignatureVerification"]
	path = dependencies/SmartMeterSignatureVerification
	url = ../SmartMeterSignatureVerification.git
[submodule "dependencies/ethereum-datetime"]
	path = dependencies/ethereum-datetime
	url = ../ethereum-datetime.git
